<div class="margin-high"><%= image_tag @photo.post %></div>

<ul> Tagged in this photo:
  <% @tags.each do |tag| %>
    <li><%= link_to tag.user.name, user_path %></li>
  <% end %>
</ul>


<h5>Add a tag to this photo</h5>

<%= form_for @tag do |f| %>
  <div class="form-group">
    <%= f.hidden_field :photo_id, value: @photo.id %>
    <%= f.label :user_id, "Select a user" %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
    <%= f.submit "Tag user!", class: "btn btn-success" %>
<% end %>
